@import "../../styles/colors.scss";

.autocompleteinput {
    position: relative;
    width: 100%;

    &.error {
        .textinput--element {
            border-color: $color-error;
        }
    }
    
    &--element {
        border-radius: 5px;
        border: 1px solid $color-primary;
        border-left: 7px solid $color-primary;
        text-align: left;
        width: 100%;
        padding: 0.5em;
        .rac {
            &__control {
                border: none;
                box-shadow: none;
                &:hover {
                    border: none;
                }
            }
            &__option {
                &--is-selected {
                    background-color: $color-primary;
                }
                &--is-focused &:not(.rac__option--is-selected) {
                    background-color: $color-baby-blue;
                }
            }
        }
    }

    &--label {
        position: absolute;
        left: 1.5em;
        top: 0.5em;
        pointer-events: none;
        color: $color-grey-light;
        transition: 0.5s ease-in-out;
        z-index: 1;
        &.placeholder--hide, &.label--active {
            left: 1em;
            top: -0.7em;
            background-color: $color-white;
        }
    }
}