@import "../../styles/colors.scss";

.checkbox-option {
    display: flex;
    cursor: pointer;
    user-select: none;
    &:hover {
        .checkbox-option-container {
           .checkbox-option-input {
                background-color: rgba($color-red, 0.7);
                &.selected {
                    background: none;
                    border: 2px solid $color-red; 
                }
           } 
        } 
    }
    .checkbox-option-container {
        margin-right: 1em;
            height: 1.25em;
            width: 1.25em;
            border: 1.5px solid $color-grey-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.2em;
            .checkbox-option-input {
                height: 11px;
                width: 11px;
                border-radius: 0.2em;
                &.selected {
                    background-color: $color-red;
                }
            }
    }
}