@import "../../styles/colors.scss";

.option-radio {
    display: flex;
    flex-direction: column;
    width: 100%;
    .option-radio-container {
        &.vertical {
            flex-direction: column;
        }
        display: flex;
        .radio-option {
            margin-right: 1em;
            align-items: flex-start;
            .radio-option-label {
                text-align: left;
            }
        }
    }

    &.disabled {
        .radio-option {
            color: $color-grey-mid;
            .radio-option-container {
                border-color: $color-grey-mid;
            }
        }
    }
}