@import "../../styles/colors.scss";

.textinput {
    position: relative;
    width: 100%;

    &.error {
        .textinput--element {
            border-color: $color-error;
        }
    }

    &--element {
        border-radius: 5px;
        border: 1px solid $color-primary;
        border-left: 7px solid $color-primary;
        text-align: left;
        width: 100%;
        padding: 0.5em;
        padding-left: 1em;
    }

    &--label {
        position: absolute;
        left: 1.5em;
        top: 0.5em;
        pointer-events: none;
        color: $color-grey-light;
        transition: 0.15s linear;
        &.placeholder--hide, &.label--active {
            left: 1em;
            top: -0.7em;
            background-color: $color-white;
            height: 12px;
            padding: 0 0.5em;
        }
    }
}