@import "./reset.scss";

@import "./font.scss";
@import "./links.scss";
@import "./text.scss";
@import "./breakpoints.scss";

#root {
    height: 100vh;
    width: 100vw;

    @media screen and (min-width: $max-desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}