@import "./colors.scss";

h1, h2, h3, h4 {
    color: $color-primary;

    @each $key, $val in $colors {
        &c--#{$key} {
            color: $val;
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1em;
}

h3 {
    font-weight: 500;
    font-size: 1em;
}

.capital {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

p {
    &.help-text {
        color: $color-grey-mid;
        width: 100%;
        text-align: left;
        font-size: 0.9em;
        font-style: italic;
    }
}