@import "../styles/colors.scss";
@import "./PageCommon.scss";
@import "../styles/breakpoints.scss";

.pre-delegate-container {

    overflow: hidden;
    animation-name: fadeInBackground;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    //background: $color-blue-light;

    @media screen and (min-width: $small-phone) {
        align-items: center;
    }

    @keyframes fadeInBackground {
        0% {
            background: $color-white;
        }
        65% {
            background: $color-white;
        }
        80% {
            background: $color-blue-light;
        }
    }

    .form-adapter {
        width: 425px;
        height: 90%;
        z-index: 2;
        @media screen and (max-width: 424px) {
            width: 100%;
        }
        @media screen and (min-width: $small-phone) {
            height: 70%;
        }

        background-color: $color-white;
    }

    .footer-container {
        @media screen and (max-width: $tablet) {
            .tent, .trees {
                display: none;
            }
            .ground {
                width: 150%;
            }
        }
    }

    .form-background-number {
        font-weight: 800;
        font-family: "Roboto";
        position: absolute;
        top: 0;
        right: 0;
        font-size: 15em;
        line-height: 2em;
        opacity: 33.33%;
        color: $color-white;
        pointer-events: none;
        @media screen and (max-width: $tablet) {
            top: 55%;
        }
    }

    @keyframes moveOutLeft {
        0% {
            transform: translateX(0);

        }
     }

    .blue-background {
        position: absolute;
        bottom: 5%;
        left: 40%;
        height: 100%;
        max-width: unset;
        width: auto;
        animation-name: moveOutLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        transform: translateX(-60%);

        @media screen and (max-width: $tablet) {
            width: 3000px;
            height: 1100px;
            top: 0;
            left: -1075px ;
            transform: translateX(0);
        }
    }
}
