@import "../styles/colors.scss";
@import "./PageCommon.scss";
@import "../styles/breakpoints.scss";

.pre-delegate-container {
    
    @media screen and (min-width: $small-phone) {
        align-items: center;
    }

    .form-adapter {
        width: 425px;
        height: 90%;
        z-index: 2;
        @media screen and (max-width: 424px) {
            width: 100%;
        }
        @media screen and (min-width: $small-phone) {
            height: 70%;
        }

        background-color: $color-white;
    }

    .footer-container {
        @media screen and (max-width: $tablet) {
            .tent, .trees {
                display: none;
            }
            .ground {
                width: 150%;
            }
        }
    }


    background: $color-blue-light; // fallback color
    background: radial-gradient(35% 60% at 5% 70%, rgba($color-peach, 0.7) 0%, $color-baby-blue 75%, $color-blue-light 100%);

}
