@import "../../styles/colors.scss";

.info-page-container {
    .late-fee {
        background-color: $color-blue-light;
        color: $color-white;
        padding: 1em;
        border-radius: 8px;
        text-transform: uppercase;
    }
}